/** ------------------------------------- -->
/**  TEXT PROPERTIES IN CSS  
/** ---------------------------------------- -->
/*?  Text Alignment:- The `text-align` property controls the horizontal alignment of text within an element's box.
- Common values are `left`, `center`, `right`, and `justify`. */

/*? Text Decoration:- The `text-decoration` property allows you to add decorations like underlines, overlines, or line-through to text. */

/* - text-decoration-line
    - The text-decoration-line property specifies which type of line should be used as decoration for text, such as underline, overline, line-through, or none.
- text-decoration-color
    - The text-decoration-color property sets the color of the text decoration lines, like underlines or overlines.

    - text-decoration-thickness
        - Specifies the thickness of the text decoration line

    - text-decoration-style
            - The text-decoration-style property is used to set the style of the decoration line.

- text-decoration */

/*? textTransform:- The text-transform property allows you to control the capitalization of text. */
/* Values include uppercase (converts text to all uppercase), lowercase (converts text to all lowercase), and capitalize (capitalizes the first letter of each word). */
body {
  background-color: hsl(0, 0%, 94%);
  display: grid;
  place-items: center;
  font-family: "Urbanist", sans-serif;
}
.hero-section {
  width: 50%;
}
h1{
    font-size:54px;
    font-weight:900;
    /*?Text properties starts from here*/
    /**TextAlignment-->left right center justify*/
    text-align:left;
        /**Text Decoration lines-->*//**TextDecoration(text-decoration-lines)-->underline,overline and line-through*/
    text-decoration-line:underline ;
    /**TextDecoration(text-decoration-style)-->solid,double,dotted,wavy and dashed*/
    text-decoration-style:solid;
    text-transform:uppercase;
}

/** ------------------------------------- -->
/**  TEXT SPACING IN CSS  
/** ---------------------------------------- -->

/*? letter-spacing Property:- The letter-spacing property controls the spacing between characters in a text. */
/* - It can be set to positive values to increase spacing or negative values to decrease spacing. */

/*? word-spacing Property:- The word-spacing property controls the spacing between words in a text. */
/* - It can be set to positive values to increase word spacing or negative values to decrease it. */

/*? The line-height property is used to specify the space between lines: */

/*? white-space is used to control how white space within an element is handled. */

p,a{
  font-size:20px;
  font-weight:400;
   /*? Text Spacing properties starts from here */
  letter-spacing: 1px;
   word-spacing: 1px;
   line-height: 1.56 ;
    white-space:nowrap;
 /* white-space:nowrap; */
}













a{
  color:red;
  text-decoration-line:none;
  -moz-text-decoration-line:none;
}
