/** ------------------------------------- -->
/**  BACKGROUND PROPERTY IN CSS  
/** ---------------------------------------- -->

/*? background-color: Sets the background color of an element.
Example: background-color: #FF5733; */
.b{
  width: 100%;
  height: 100vh;
  
}
body{
 width: 100%;
height: 100vh;
background-color: hsl(0, 0%, 94%);
background-image:url("https://w0.peakpx.com/wallpaper/145/119/HD-wallpaper-gold-color-ganesh-on-green-leaf-ganesh.jpg");

}
