/* Css Tag or Element Selector */
h1{
    color: rgb(162, 18, 229);
}

/* Class Selector */
.para{
    color: blue;
}

/* Id Selector */

#btn{
    color:aliceblue; /* You can also change the text color */
    background-color: rgb(232, 19, 90); /* You can also change the background color */
    text-decoration:none ;  /* Remove underline */
}

/* Pseudo Class Selector */
#btn:hover{
background-color: black;
color: white;
}
